*{
  margin: 0px;padding: 0px;
}
body{
    width: 1350px;
}
.panel-group{overflow: auto;}
.leftMenu{margin:10px;margin-top:5px;}
.leftMenu .panel-heading{font-size:14px;padding-left:20px;height:36px;line-height:36px;color:white;position:relative;cursor:pointer;}/*转成手形图标*/
.leftMenu .panel-heading span{position:absolute;right:10px;top:12px;}
.leftMenu .menu-item-left{padding: 2px; background: transparent; border:1px solid transparent;border-radius: 6px;}
.leftMenu .menu-item-left:hover{background:#C4E3F3;border:1px solid #1E90FF;}
.header{
  background: #337AB7;
}
#content{margin-top: 10px;}
.table_list{
	max-width: 100%;
	width: 100%;
	vertical-align: middle;
}